.command {
  background-color: #383838;
  border-radius: 16px;
  border: solid 1px #666;
  padding: 8px;

  .input {
    border: 0px;
    background-color: #383838;
    width: 99%;
    height: 32px;
  }
}
