.narrative {
  flex-grow: 1;

  &__container {
    overflow: auto;
    
  }

  .desc {
    padding-bottom: 16px;
    i {
      color: #999;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}
