.dialog {
  flex-grow: 1;

  &__container {
    overflow: auto;
  }

  &--narrator {
    background-color: #444;
    border-radius: 16px;
    margin: 8px;
    margin-right: 65px;
    padding: 12px;
  }

  &--character {
    background-color: #555;
    border-radius: 16px;
    margin: 8px;
    margin-left: 65px;
    padding: 12px;
    text-align: right;
  }
}
